body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  padding: 1.5rem;
}

.navbar h1 {
  color: #aaa;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
